*{
   
    font-family: 'Roboto Condensed',sans-serif,Arial,sans-serif;
    /* color: #333; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header1{
    width: 100%;
    height: 40px;
    background-color: #292929;
    display: flex;
    color: #CCCCCC;
    justify-content: space-between;
    justify-items: center;
    box-sizing: border-box;
    padding: 0px 15px;
    font-stretch: condensed;
}
.left{
    display: flex;
    margin: 10px 0px;
    font-size: 14px;
    margin-left: 52px;
}
.left li{
    list-style: none;
}
.left a{
    color: #CCCCCC;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px;
}
.right ul{
    margin-right: 62px;
}
.right ul li{
    margin-top: auto;
    padding: 9px 0px;

}
.right ul li a{
    color: #CCCCCC;
    text-decoration: none;
    
    font-size: 14px;
    border-right: 1px solid #3a3a3a;
    padding: 0px 15px;
}
.right ul li a:hover{
    color: #b31f2a;
}
.header1 ul{
    display: flex;
}
.header1 ul li{
    list-style: none;
}
.header2{
    box-sizing: border-box;
    height: 80px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background: #fff;
    padding: 19px 0 10px 0;
    width: 100%
    
}
.hot{
    top:-7px;
    font-size: 9px;
    /* font-weight: 700; */
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin-top: 11px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}
.logo{
    margin: -16px 0px 0px 67px;
    
}
/* -------------------------- */
.banner2ul{
    display: flex;
    list-style: none;
}
.banner2ul li{
    font-size: 15px;
}
.banner2ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    padding: 10px 20px;
    color: #333333;
    /* font-size: 15px; */
    
}
.banner2ul li:hover>ul.sub-banner2ul{
    display: block;
}
.banner2ul li a:hover{
    color:#b31f2a;
}
.banner2ul ul.sub-banner2ul{
    position: absolute;
    background-color:#fff;
    list-style: none;
    display: none;
    border: 1px solid #ededed;
}
.banner2ul .sub-banner2ul a{
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    /* font-weight: normal;
    line-height: 1.42857143; */
    background-color: white;
    height: 40px;
    width: 180px;
    padding: 10px 10px;
    z-index: 2;
    position: relative!important
    
}
.banner2ul .sub-banner2ul li a:hover{
    text-decoration: none;
    background-color: #f5f5f5;
    color: #b31f2a;
}
.bottom-right .sub-banner2ul li a{
    
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    background-color: white;
    width: 180px;
    height: 30px;
    padding-left: 0px;
}

.bottom-right .sub-banner2ul li a:hover{
    background-color: #f5f5f5;
    
}



.banneritem1{
    position: absolute;
    height: 17px;
    background: #b31f2a;
    top: 49px;
    padding: 0px 5px;
    font-size: 11px;
   
    right: 849px;
    color: #fff;
}
.banneritem1::after{
   
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #b31f2a transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -4px;
    left: 4px;
}
.banneritem2{
    position: absolute;
    height: 17px;
    background: #b31f2a;
    top: 49px;
    padding: 0px 5px;
    font-size: 13px;
    /* text-transform: none; */
    right: 708px;
    color: #fff;
}
.banneritem2::after{
   
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #b31f2a transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -4px;
    left: 4px;
}
/* ---------------------------- */
.banner2right {
    float: right;
    height: 59px;
    margin-right: 80px;
    width: 21%;
 

}
#VDV{width: 120px;
padding-top: 10px;
}
.table-sp tr th{
    padding: 10px 10px 10px 10px;
}
td{
    padding: 5px;
    text-align: center;
}
.IMG{
    width: 90px;
    height: 100px;
}

.b1{float: left;
   width: 130%;
}
.banner2span{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #ededed;
    border: 1px solid #ededed;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    margin-left: 3px;
    font-size: 13px;
    color: #444;
    cursor: pointer;

}
.banner2span:hover{
    border:1px solid brown;
}
.overlayitem{
    position: absolute;
    background-color:red;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
/* -------------------------Botom-head-------------------------- */
.botom-head{
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}

.botom-head ul{
    list-style: none;
    display: flex;
    margin-left: 58px;
    margin-right: 5px;
    padding: 10px;
}
/* .botom-head ul li::after{
    content: "/";
    color: #333;
    position: absolute;
    right: -15px;    
} */
.botom-head ul li a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
}
/* ---------------------------content----------------------------- */
.content{
    
    padding:10px 65px ;
    
}
.content-left{
    height: 1050px;
    width: 25%;
    background-color:#444;
    padding: 0px 10px;
    float: left;
}
.content-logo{
    width: 50%;
    height: 60px;  
    /* border-bottom: 1px #CCCCCC solid; */
    float: left;
    /* padding: 20px; */
}
#VDV{
    color: #292929;
    float: left;
}
/* .content-logo p{
    color: #292929;
} */
.content-logo img{
    width: 40px;
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
.content-logo p{
    color: #f8f8f8;
    /* margin: 30px 23px 27px 93px; */
}
.content-menu{
    width: 100%;
    height: 600px;
    /* background-color: #b31f2a; */
    float: left;
    margin-top: 10px;
}
.content-menu ul li a{
    text-decoration: none;
    color: #fff;
}
.menu-baiviet>li,.menu-sanpham>li,.menu-khachhang>li,.menu-donhang>li,.menu-nhanvien>li{
    background-color: #444;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    
}
.baiviet-list>li:hover,.sanpham-list>li:hover,.khachhang-list>li:hover,.donhang-list>li:hover{
    background-color: #b31f2a;
    
}
.baiviet-list>li,.sanpham-list>li,.khachhang-list>li,.donhang-list>li{
    background-color: #444;
    height: 40px;
    line-height: 40px;
    padding-left: 48px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

/* ---------------content-right------------------- */
.content-right{
    width: 75%;
    height: 1050px;
    background-color: #f2eeee;
    float: left;
    
}
.bt-head{
    width: 100%;
    height: 60px;
    /* background-color: #b31f2a; */
}
.bt-add{
    width: 135px;
    height: 30px;
    background-color: rgb(39, 77, 216);
    border: none;
    border-radius: 5px;
    color: #f8f8f8;
    margin: 15px;
}
.bt-create{
    width: 80px;
    height: 30px;
    background-color: rgb(205, 49, 57);
    border: none;
    border-radius: 5px;
    color: #f8f8f8;
}


.danhmuc{
    width: 98%;
    height: 1000px;
    
    margin-left: 15px;
    padding:10px 15px;
}
.stt{
    width: 45px;
    text-align: center;
}
.hinh{
    padding: 10px;
    width: 120px;
}
.hinh img{
    width: 100px;
}
.tensp{
    width: 305px;
    text-align: center;
}
.gia{
    width: 100px;
    text-align: center;
}
.size{
    width: 100px;
    text-align: center;
}
.sua{
width: 80px;
text-align: center;
}
.sua button{
    width: 47px;
    height: 28px;
    background-color: rgb(22, 166, 22);
    border:none;
    border-radius: 5px;
    color: #fff;
}


.xoa{
    width: 80px;
    text-align: center;
}
.xoa button{
    width: 47px;
    height: 28px;
    background-color: #b31f2a;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.xemthem{
    float: right;
}
.xemthem ul{
    list-style: none;
    float: left;
    margin-top: 15px;
}
.xemthem1{
    background-color: #b31f2a;
}
.xemthem1 a{
    color: #fff;
}
.xemthem ul li{
    
    float: left;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    margin: 4px;
    border: 1px #beb9b9 solid;
}
.xemthem a{
    text-decoration: none;
}
.xemthem2:hover,.xemthem3:hover,.xemthem4:hover,.xemthem5:hover{
    background-color: #CCCCCC;
}
.xemthem4 a,.xemthem5 a{
    font-size: 11px;

}

/* --------------add_SanPham------------------------------------- */
.ThemSanPham{
    width: 400px;
    height: 500px;
    overflow: auto;
    padding: 0px 20px;
    /* display: none; */
    background-color: white;
    border: 1px solid black;
    position: absolute;
    right: 470px;
    top: 46px;
}
.ThemSanPham h4{
    color: #b31f2a;
    text-align: center;
}
.Ma_SP_input,.Ten_SP_input,.Gia_SP_input,.Size_SP_input,.SLuong_SP_input{
    width: 100%;
}

.fa-x{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #292929;
}

td img{
    width: 60px;
}
#tensp{
    width: 45%;
}
