*{
   
    font-family: 'Roboto Condensed',sans-serif,Arial,sans-serif;
    /* color: #333; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header1{
    width: 100%;
    height: 40px;
    background-color: #292929;
    display: flex;
    color: #CCCCCC;
    justify-content: space-between;
    justify-items: center;
    box-sizing: border-box;
    padding: 0px 15px;
    font-stretch: condensed;
}
.left{
    display: flex;
    margin: 10px 0px;
    font-size: 14px;
    margin-left: 52px;
}
.left li{
    list-style: none;
}
.left a{
    color: #CCCCCC;
    font-size: 14px;
    text-decoration: none;
    margin: 0px 0px;
}
.right ul{
    margin-right: 62px;
}
.right ul li{
    margin-top: auto;
    padding: 9px 0px;

}
.right ul li a{
    color: #CCCCCC;
    text-decoration: none;
    
    font-size: 14px;
    border-right: 1px solid #3a3a3a;
    padding: 0px 15px;
}
.right ul li a:hover{
    color: #b31f2a;
}
.header1 ul{
    display: flex;
}
.header1 ul li{
    list-style: none;
}

/* ------------------------Header-2-------------------------------------------------------- */
.header2{
    box-sizing: border-box;
    height: 80px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background: #fff;
    padding: 19px 0 10px 0;
    width: 100%
    
}
.hot{
    top:-7px;
    font-size: 9px;
    /* font-weight: 700; */
    text-transform: uppercase;
    color: #333;
    position: relative;
    margin-top: 11px;
    margin-bottom: 10px;
    text-align: center;
    float: left;
}
.logo{
    margin: -16px 0px 0px 67px;
    
}
/* -------------------------- */
.banner2ul{
    display: flex;
    list-style: none;
}
.banner2ul li{
    font-size: 15px;
}
.banner2ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    padding: 10px 20px;
    color: #333333;
    /* font-size: 15px; */
    
}
.banner2ul li:hover>ul.sub-banner2ul{
    display: block;
}
.banner2ul li a:hover{
    color:#b31f2a;
}
.banner2ul ul.sub-banner2ul{
    position: absolute;
    background-color:#fff;
    list-style: none;
    display: none;
    border: 1px solid #ededed;
}
.banner2ul .sub-banner2ul a{
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    /* font-weight: normal;
    line-height: 1.42857143; */
    background-color: white;
    height: 40px;
    width: 180px;
    padding: 10px 10px;
    z-index: 2;
    position: relative!important
    
}
.banner2ul .sub-banner2ul li a:hover{
    text-decoration: none;
    background-color: #f5f5f5;
    color: #b31f2a;
}
.bottom-right .sub-banner2ul li a{
    
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    background-color: white;
    width: 180px;
    height: 30px;
    padding-left: 0px;
}

.bottom-right .sub-banner2ul li a:hover{
    background-color: #f5f5f5;
    
}



.banneritem1{
    position: absolute;
    height: 17px;
    background: #b31f2a;
    top: 49px;
    padding: 0px 5px;
    font-size: 11px;
   
    right: 849px;
    color: #fff;
}
.banneritem1::after{
   
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #b31f2a transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -4px;
    left: 4px;
}
.banneritem2{
    position: absolute;
    height: 17px;
    background: #b31f2a;
    top: 49px;
    padding: 0px 5px;
    font-size: 13px;
    /* text-transform: none; */
    right: 708px;
    color: #fff;
}
.banneritem2::after{
   
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #b31f2a transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -4px;
    left: 4px;
}
/* ---------------------------- */
.banner2right {
    float: right;
    height: 32px;
    margin-right: 80px;

}


.b1{float: left;}
.banner2span{
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: #ededed;
    border: 1px solid #ededed;
    display: inline-block;
    line-height: 32px;
    text-align: center;
    margin-left: 3px;
    font-size: 13px;
    color: #444;
    cursor: pointer;

}
.banner2span:hover{
    border:1px solid brown;
}
.overlayitem{
    position: absolute;
    background-color:red;
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
/* -------------------------Botom-head-------------------------- */
.botom-head{
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
}

.botom-head ul{
    list-style: none;
    display: flex;
    margin-left: 58px;
    margin-right: 5px;
    padding: 10px;
}
/* .botom-head ul li::after{
    content: "/";
    color: #333;
    position: absolute;
    right: -15px;    
} */
.botom-head ul li a{
    text-decoration: none;
    color: #333;
    font-size: 13px;
}
.bottom{
    width: 90%;
    height: 60px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 11px 0px;
    border-bottom: 1px dashed #ccc;
}
.bottom h1{
    float: left;
    font-size: 30px;
    font-weight: 700;
    padding-left: 0;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 32px;
   
}
.bottom-right{
    margin-right: 16px;
    padding: 8px 0px;
}
.bottom-right ul{
    list-style: none;
    display: flex;
    
}
.bottom-right ul li{
    font-size: 13px;
    
}
.bottom-right ul li a{
    text-decoration: none;
    color: #333333;
}
img.aonamicon2{
    margin-left: 17px;
    width: 18px; 
    height: 18px;
    position: absolute;           
    right: 80px;            
    opacity:0;
}
.bottom-right ul li:hover .aonamicon2{
    opacity: 1;
}
/* ----------------------------------------------------- */
.sub-banner2ul a{
    display: block;
    border-bottom: 1px solid #ededed;
    font-size: 13px;
    color: #666;
    width: 180px;
    height: 30px;
    /* margin-left: 8px; */
    padding: 6px 0px;
   
}
.sub-banner2ul li a:hover{
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
   
}
.bottom-right li:hover>ul.sub-banner2ul{
    display: block;
}
.bottom-right ul.sub-banner2ul{
    position: absolute;
    background-color:#fff;
    list-style: none;
    display: none;
    border: 1px solid #ededed;
    padding-left: 10px;
}

/*============================================= content ======================================================*/

.content-left{
    width: 67%;
    height: 2150px;
    float: left;
    background-color:#ffffff;
    margin: 10px 0px 0px 42px;
    padding: 0px 15px;
    box-sizing: border-box;
}
.contentsmall{
    float: left;
    display: block;
    width: 33%;
    height: 509px;
    /* margin-bottom: 20px; */
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}
.productimg{
    height: 370px;
}
.productimg img{
    width: 100%;
    height: 100%;
}
.productimgpig{
    width: 100%;
    height: 370px;
    /* border-bottom: #e4e4e4 solid 5px; */
    position: relative;
}
.productimgsmall{
    width: 100%;
    height: 83px;
    box-sizing: border-box;
}
.productimgsmall img{
    height: 77px;
    width: 21%;
    margin: 5px 108px;
}
.producttext{
    text-transform: capitalize;
    width: 100%;
    height: 24px;
    box-sizing: border-box;
    padding: 1px 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.productimgpig img{
    display: block;
}
.overlay img{
    
    width: 100%;
    height: 370px;
    
}
.overlay{
    top:0px;
    height: 100%;
    width: 100%;
    transition: .5s ease;
    background-color: #888888;
    opacity: 0;
    position: absolute;
    
}
.productimgpig:hover .overlay{
    opacity: 1;
}
.productimgpig:hover .overlayitem{
    opacity: 1;
    transform: rotate(20deg) scale(1.1);
    
}
.overlayitem:hover{
    background-color: red;
}
.overlayitem{
    position: absolute;
    background-color:#b31f2a;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px 18px;
    top:43%;
    left: 39%;
    opacity: 0;
    transition: all ease 0.5s ;
}
.overlayitemicon{
    font-size: 20px;
    
}
.overlayitem-new-2{
    position: absolute;
    background-color:#444;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 16px 10px;
    top:8px;
    right: 8px;
    transition: all ease 0.5s ;
    opacity: 1;
}
.overlayitemicon-new{
    font-size: 13px;
    color: white;
}
.overlayitemicon-new-2{
    font-size: 13px;
    color: white;
}
.productimgpig:hover .overlayitem-new-2{
    opacity: 0;
}

.producttext a {
    text-decoration: none;
    font-size: 14px;
    color: #333;
    /* text-overflow: ellipsis; 
    overflow: hidden; */
}
.producttext a:hover{
    color: #b31f2a;
}
.product-money{
    color: #b31f2a;
    margin-top: 4px;
}
.protect-money p{
    font-size: 16px;
}

.xemthem{
    float: right;
}
.xemthem ul{
    list-style: none;
    float: left;
    margin-top: 15px;
}
.xemthem1{
    background-color: #b31f2a;
}
.xemthem1 a{
    color: #fff;
    
}
.xemthem ul li{
    
    float: left;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    margin: 4px;
    border: 1px #beb9b9 solid;
}
.xemthem a{
    text-decoration: none;
    font-size: 14px;
    color: #23527C;
}
.xemthem2:hover,.xemthem3:hover,.xemthem4:hover,.xemthem5:hover{
    background-color: #CCCCCC;
}

.fa-chevron-right,.fa-angles-right{
    font-size: 7px;
    color: #23527C;
}
.xemthem ul li.xemthem4,.xemthem ul li.xemthem5{
    padding: 3px 12px;
}

/* ------------------------------------------------------------- */
.content-right{
    float: left;
    width: 23%;
    background-color: #ffffff;
    height: 2150px;
    margin-top: 10px;
    padding-left: 10px;
}
.div-search{
    margin: 30px 0px;
    padding-top: 10px;
}
.div-search span{
    font-size: 14px;
}
.div-search label{
    margin-top: 20px;
    color: #333333;
}
.div-search input{
    outline: none;
    width: 90%;
    height: 34px;
    border: 1px solid #ddd;
    padding: 0px 20px;
}
.div-search button{
    height: 34px;
    width: 40px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #ffffff;
    margin-left: -18px;   
}
.product-hot{
    width: 100%;
    /* height: 700px; */
    position: sticky;
    top: 20px;
    padding-bottom: 20px;
}
.product-hot-content{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    
}
.div-img{
    width: 27%;
    height: 100px;
    
    float: left;
    
    border: 2px solid #eeeeee;
}
.div-img img{
    width: 100%;
    height: 100%;
}
.div-information{
    font-size: 14px;
    color: #333333;
    width: 73%;
    height: 100px;
    float: left;
    padding: 0px 10px;
}
.div-information a{
    text-decoration: none;
    color: #333333;
}
.div-information a:hover{
    color: #b31f2a;
}

.like-share{
    width: 99%;
    height: 80px;
    margin-top: 20px;
    /* background-color:#666; */
    float: left;
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
}
.like-share button{
    width: 100px;
    height: 22px;
    font-size: 12px;
    font-weight: bold;
    background-color: #1877f2;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: 20px;
}
.like-share button#share{
    width: 60px;
    
}

/* ---------------footer--------------------------------------- */
.footer{
    width: 100%;
    height: 611px;
    box-sizing: border-box;
    background: #1e1e1e;
    padding: 30px 0 15px;
    color: #bbb;
    float: left;
}
.footer-one{
    width: 23%;
    height: 356px;
    margin: 0px 0px 20px;
    padding: 0px 15px;
    float: left;
}
.footer-one ul li a{
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
}
.footer ul li {
    line-height: 22px;
    margin-bottom: 7px;
}
.footer-list{
    list-style: none;
    text-decoration: none;
    
}
.footer-one ul li a:hover {
    color: #b31f2a;
}
.newsletter input {
    height: 36px;
    background: #343434;
    border: none;
    color: #ccc;
    padding: 0 20px;
    line-height: 36px;
    width: 100%;
    border-radius: 3px 0 0 3px;
    outline: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 86px;
}
.newsletter button {
    border-radius: 0 3px 3px 0;
    background: #b31f2a;
    height: 36px;
    line-height: 39px;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: none;
    position: relative;
    float: right;
    margin-top: -36px;
}
.footer-h5{
    margin-bottom: 15px;
}
.footer-h5 a{
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px;
    text-decoration: underline;
   
}

.footer-one-ggmap{
    width: 23%;
    height: 356px;
    margin: 0px 0px 20px;
    padding: 0px 15px;
    float: left;
}
.footer-one-ggmap .footer-h5 a{
    color: #eee;
    margin-bottom: 15px;
    
}
.footer-one-ggmap img{
    max-width: 100%;
}
.footer-one-ggmap ul li a:hover{
    color: #b31f2a;
}
.fab, .fa-brands {
    margin-right: 10px;
    font-weight: 400;
}
/* ------------------------------------------------------------------------- */
.footer-bottom{
    width: 100%;
    height: 211px;
    background: #131313;
    padding: 25px 0;
    float: left;
}
.footer-bottom-content{
    width: 70%;
    margin-left: 55px;
    float: left;
}
.footer-bottom-content p{
    font-size: 14px;
    color: #bbbbbb;
}
.footer-bottom-content p a{
    color: white;
    text-decoration: none;
}
.footer-bottom p{
    color: #bbb;
    margin: 0;
}

p.line-top {
    border-top: 1px solid #2c2c2c;
    margin-top: 15px;
    padding-top: 10px;
    clear: both;
}
.footer-bottom-img{
    
    width: 20%;
    height: 142px;
    float: left;
    padding: 0px 38px;
}

#back-top{
    border-radius: 50%;
    line-height: 48px;
    background-color: #333;
    color: #fff;
    display: block;
    position: fixed;
    bottom: 20px;
    text-align: center;
    width: 50px;
    right: 10px;
    height: 50px;
    z-index: 997;
    cursor: pointer;
    padding-top: 2px;
    padding-left: 1px;
}
#back-top:hover{
    background-color: #b31f2a;
}


