<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css">
    <link rel="stylesheet" href="./anh/fontawesome-free-6.4.0-web/css/all.css">
    <title>4MenShop</title>
</head> 

<body ng-app ="AppBanHang" ng-controller ="SanPhamCtrl">
    <div class="admin">
        <div class="header1">

            <div class="left">
                <i class="fa-solid fa-phone" style="color: white;"></i>
                &nbsp; Hotline:
                <a href="tel:0868444644" title="4MEN Hot Line" rel="nofollow">0868.444.644</a>
            </div>
            <div class="right">
                <ul>
                    <li><a href="">Cách chọn size</a></li>
                    <li><a href="">Chính sách khách vip</a></li>
                    <li><a href="">Giới thiệu</a></li>
                </ul>
            </div>
        </div>

        <div class="header2">
            <a href="trangchu.html"><img class="logo" src="./anh/banner2.png" alt=""></a>

            <div class="ThemSanPham">
                <h4 style="margin: 10px;">Thêm sản phẩm <a href="#"> <i class="fa-solid fa-x" onclick="ThemSP()"></i></a></h4>
   
                <hr>
                <div class="form_dien_SP">
                    <form action="">
                        <div class="Ten_SP">
                            <label for="">Tên sản phẩm</label>
                            <div class="Ma_SP">
                                <input ng-model="tenSanPham" type="text" placeholder="" class="Ma_SP_input">
                            </div>
                        </div>

                        <div class="Ma_Chuyen_Muc">
                            <label for="">Mã chuyên mục</label>
                            <!-- <div class="Ma_Chuyen_Muc">
                                <input ng-model="maChuyenMuc" type="text" placeholder="" class="Ma_SP_input">
                            </div> -->
                            <select ng-model="maChuyenMuc" style="width: 100%;" class="chosen-select" data-placeholder="Choose a Country...">
                                <option ng-repeat="x in listChuyenMuc"  value="{{x.maChuyenMuc}}"></option>
                                <!-- <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>  -->
                            </select>
                        </div>
                       
        
                        <div class="Gia_SP">
                            <label for="">Giá</label>
                            <div class="Gia_SP">
                                <input ng-model="gia" type="" placeholder="" class="Gia_SP_input">
                            </div>
                        </div>
        
                        <div class="Size_SP">
                            <label for="">Size</label>
                            <div class="Size_SP">
                                <!-- <input ng-model="size" type="text" class="Size_SP_input"> -->
                                <!-- <td><select name="" id="" class="Size_SP_input">
                                    <option value="">S</option>
                                    <option value="">M</option>
                                    <option value="">L</option>
                                    <option value="">XL</option
                                    <option value="">XXL</option>

                                </select></td> -->
                                <select ng-model="maSize" style="width: 100%;" class="chosen-select" data-placeholder="Choose a Country...">
                                    <option ng-repeat=""  value=""></option>
                                    <!-- <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>  -->
                                </select>
                            </div>
                        </div>
        
                        <div class="SLuong_SP">
                            <label for="">Số lượng</label>
                            <div class="SLuong_SP">
                                <input ng-model="soLuong" type="text" class="SLuong_SP_input">
                            </div>
                        </div>

                        <div class="anh" style="margin-bottom: 10px;">
                            <label for=""> Ảnh</label>
                            <div class="">
                                <input id="upload_Img" ng-model="anhDaiDien" type="file" class="SLuog_SP_input">
                            </div>
                        </div>
                        
                      
                    </form>
                    <!-- <div class="nut">
                        <button id="button" style="color: white;">Đăng kí</button>
                        &nbsp;
                        <a href="./Login.html">Đăng nhập</a>
                    </div> -->
                </div>
                <button class="">Thêm sản phẩm</button>
            </div>

            <div class="banner2right">
                <div class="b1">
                    <div class="content-logo">
                        <a href="">
                            <img src="./anh/admin.png" alt="">
                        </a>
                        <p id="VDV">Vũ Đình Vinh</p>
                    </div>
                    
                    <span class="banner2span">
                        <a href="./Login.html"><i class="fa-solid fa-right-to-bracket"></i> </a>
                    </span>
                </div>
                <!-- <div class="b1">
                    <span class="banner2span"><i class="fa-solid fa-magnifying-glass" style="color: brown;"></i></span>
                </div> -->

            </div>

        </div>

        <div class="botom-head">
            <ul >
                <li><a href="">4MEN &nbsp; / &nbsp;</a></li>
                <li><a href="">Trang quản trị</a></li>
            </ul>
        </div>
        <div class="content">
            <div class="content-left">
                <!-- <div class="content-logo">
                    <a href="">
                        <img src="./anh/admin.png" alt="">
                    </a>
                    <p>Vũ Đình Vinh</p>
                </div> -->
                <div class="content-menu">

                    <ul class="menu-baiviet">
                        <li>
                            <i class="fa-solid fa-book"></i>
                            <a href="">Bài viết giới thiệu</a></li>
                        <ul class="baiviet-list">
                            <li><a href="">Đăng bài viết</a></li>
                            <li><a href="">Danh sách bài viết</a></li>
                        </ul>
                    </ul>


                    <ul class="menu-sanpham">
                        <li>
                            <i class="fa-solid fa-bars"></i>
                            <a href="">Quản lí sản phẩm</a>
                        </li>
                        <ul class="sanpham-list">
                            <li onclick="Chuyenmuc()"><a href="">Chủng loại-Ngành hàng</a></li>
                            <li onclick="Nhaphanphoi()"><a href="">Nhà phân phối</a></li>
                            <li style="background-color: brown;"><a href="">Sản phẩm đang kinh doanh</a></li>
                        </ul>
                    </ul>

                    <ul class="menu-khachhang">
                        <li>
                            <i class="fa-solid fa-people-group"></i>
                            <a href="">Quản lí khách hàng</a></li>
                        <ul class="khachhang-list">
                         
                            <li><a href="">Khách hàng</a></li>
                        </ul>
                    </ul>

                    <ul class="menu-donhang">
                        <li>
                            <i class="fa-solid fa-clipboard-list"></i>
                            <a href="">Quản lí đơn hàng</a></li>
                        <ul class="donhang-list">
                            <li><a href="">Đơn hàng nhập</a></li>
                            <li><a href="">Đơn hàng bán</a></li>
                            <li><a href="">Đang giao cho khách</a></li>
                            <li><a href="">Đã giao thành công</a></li>
                            <li><a href="">Đơn hàng bị hủy</a></li>
                        </ul>
                    </ul>

                    <ul class="menu-nhanvien">
                        <li><a href="">Quản lí nhân viên</a></li>
                    </ul>
                </div>
            </div>

            <div class="content-right">
                <div class="bt-head">
                    <button type="button" class="bt-add" onclick="ThemSP()">
                        <i class="fa-regular fa-plus"></i>
                        Thêm sản phẩm
                    </button>
                    <button type="button" class="bt-create" >
                        <i class="fa-solid fa-trash"></i>
                        Delete
                    </button>
                </div>
                <div class="danhmuc">
                    <h2>Quản lí sản phẩm</h3><br>
                    <hr>
                    <table class="table-sp" border="1" style="border-collapse: collapse;">
                        <tr>
                            <th>Mã SP</th>
                            <th>Chuyên mục</th>
                            <th>Ảnh</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Size</th>
                            <th>Số Lượng</th>
                            
                        </tr>
                        <tr >
                            <td ></td>
                            <td></td>
                            <td ><img src="" alt=""></td>
                            <td id="tensp" ></td>
                            <td ></td>
                            <td ></td>
                            <td ></td>
                            <td class="sua"><button >Sửa </button></td>
                            <td class="xoa"><button >Xóa</button></td>
                        </tr>
                     
                    </table>

                    <!-- <div class="xemthem">
                        <ul>
                            <li class="xemthem1" ><a href="">1</a></li>
                            <li class="xemthem2"  ><a href="">2</a></li>
                            <li class="xemthem3" ><a href="">3</a></li>
                            <li class="xemthem4"><a href=""><i class="fa-solid fa-chevron-right"></i></a></li>
                            <li class="xemthem5"><a href=""><i class="fa-solid fa-angles-right"></i></a></li>
                        </ul>
                    </div> -->
                </div>


            </div>
        </div>
    </div>
    
    <script src="./angular/angular.min.js"></script>
    <script src="./angular/global.js"></script>
    <script src="./angular/admin.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script> 
        // var user = JSON.parse(localStorage.getItem('user'));
        
        // if (!user) {
        //     window.location.href = "Login.html";
        // }
        function Chuyenmuc(){
            window.location.href = "admin_chuyen_muc.html"
        }
        function Nhaphanphoi(){
            window.location.href = "admin_nha_phan_phoi.html"
        }

    </script>
</body>
</html>